</div>

<div id="bottom">
  <div class="pair-mini-list" id="pair-mini"></div>
  <div id="ticker-scroll"></div>
</div>

<div class="ctip" id="ctip"></div>

<script src="/static/js/state.js"></script>
<script src="/static/js/tv.js"></script>
<script src="/static/js/app/prefs.js"></script>
<script src="/static/js/app/orders.js"></script>
<script src="/static/js/app/trade.js"></script>
<script src="/static/js/app/metrics.js"></script>
<script src="/static/js/app/render.js"></script>
<script src="/static/js/app/alerts.js"></script>
<script src="/static/js/app/tools.js"></script>

</body>
</html>
